<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="3.0"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <servlet>
        <servlet-name>WeatherForecast</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>ForecastApi</servlet-name>
        <servlet-class>WeatherApi</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>WeatherForecast</servlet-name>
        <url-pattern>/weather</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ForecastApi</servlet-name>
        <url-pattern>/weatherapi</url-pattern>
    </servlet-mapping>
</web-app>